<a href="https://colab.research.google.com/github/NikhithaAlla/Nikhitha_Data690/blob/main/assignment_03/Assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.Print them in a 10 by 10 matrix neatly arranged like the following (one space between each number):

In [1]:
import random
for i in range(10) :
    for j in range(10) :
        print(random.randint(0,9), end=" ")
    print()

8 8 4 5 4 4 4 7 9 5
1 3 1 0 9 7 2 7 1 6
1 5 7 2 2 7 8 3 4 8
6 2 2 1 0 4 3 8 3 8
3 9 9 1 8 0 1 6 8 8
0 2 1 4 4 4 8 8 4 9
0 8 1 7 6 7 8 3 9 2
2 8 3 8 0 9 4 7 7 7
0 9 7 9 1 1 2 2 0 9
0 3 7 4 7 9 1 1 7 5

# **2**. If the random number is an odd number, print "@" instead. like the following:

In [4]:
import random
for i in range(10) :
    for j in range(10) :
        k=random.randint(0,9)
        if k%2 ==0:
          print(k, end=" ")
        else:
          print('@', end=' ')
    print()

@ @ 0 @ 2 @ @ 8 @ 2
@ @ @ 8 @ @ 0 @ 4 4
@ @ 0 6 0 0 2 @ @ 4
@ @ @ @ 6 2 @ 0 6 0
4 4 4 2 @ 2 @ 6 2 4
4 0 6 @ @ 4 6 @ @ @
6 @ 6 4 4 4 @ 4 @ @
8 @ @ 4 @ 8 6 2 @ 2
@ 0 @ 2 8 0 @ @ @ @
@ 2 2 @ 6 @ @ 0 @ 6

## 3. Calculate and Print the total of each row like the following (use "*" to separate the total from the numbers):

In [8]:
import random
for i in range(10) :
    sum = 0
    for j in range(10) :
        k=random.randint(0,9)
        sum = sum + k
        print(k, end=" ")
    print("*",sum)

1 0 2 5 5 2 6 8 0 1 * 30
7 3 2 8 0 6 8 4 2 3 * 43
3 2 9 2 5 4 4 1 6 3 * 39
0 5 1 5 7 7 9 3 7 9 * 53
5 6 1 3 9 0 7 6 1 5 * 43
5 6 3 5 3 4 6 6 4 0 * 42
1 3 3 1 2 3 9 6 6 8 * 42
6 4 8 4 6 7 7 2 1 8 * 53
6 6 8 5 8 1 7 9 8 9 * 67
6 3 8 6 5 7 8 1 2 6 * 52

#4.Surround the matrix with asterisks (*) like the following:

In [23]:
import random
print("***********************")
for i in range(10) :
    print('*', end = " ")
    for j in range(10) :
        k=random.randint(0,9)
        print(k, end=" ")
    print("*")
print("***********************")

***********************
* 9 8 1 2 4 9 4 7 7 3 *
* 2 6 3 2 5 4 6 2 0 2 *
* 9 3 7 5 8 7 2 6 2 5 *
* 8 6 0 1 2 3 5 1 8 4 *
* 0 4 9 7 7 6 5 4 0 2 *
* 2 2 6 4 8 4 9 7 7 2 *
* 4 0 3 8 0 4 7 0 6 6 *
* 6 9 0 2 6 2 1 5 7 1 *
* 2 3 6 2 5 3 7 8 4 9 *
* 8 6 3 1 7 3 3 0 3 0 *
***********************

#5. Calculate and Print the total of each row and column like the following:

In [27]:
import random  
col = [0]*10  
for i in range(0,10): 
    a= 0 
    for j in range(0,10):  
        val=(random.randint(0,9))
        a= a+(val)  
        col[j] = col[j] + val 
        print(val, end="  ") 
    print("*", a)  
for i in range(0,10):
    print("*", end="  ")  
print("\n", end="")  
for j in range(0,10):
    print(col[j], end=" ")

0  9  2  6  8  2  0  9  2  1  * 39
5  2  8  7  4  1  8  9  5  6  * 55
7  7  8  3  1  3  5  5  6  3  * 48
1  0  2  6  3  2  9  0  6  1  * 30
7  9  6  9  5  8  9  3  6  8  * 70
8  0  6  7  5  6  3  0  1  7  * 43
0  1  7  4  5  0  0  7  3  3  * 30
7  4  4  6  3  5  0  2  2  2  * 35
9  1  4  8  4  1  2  9  8  5  * 51
4  2  4  3  5  4  4  9  9  7  * 51
*  *  *  *  *  *  *  *  *  *
48 35 51 59 43 32 40 53 48 43